<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link href="/assets/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>{{ title }}</h1>

        {% for message in app.session.flashbag.get('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>
