<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link href="/assets/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>{{ title }}</h1>

        {% set success = app.session.flash('success') %}
        {% set error = app.session.flash('error') %}
        {% if success %}
            <div class="alert alert-success">{{ success }}</div>
        {% endif %}
        {% if error %}
            <div class="alert alert-error">{{ error }}</div>
        {% endif %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>
