{% extends "layout.twig" %}

{% set title = gateway.name~": Success!" %}
{% block content %}

    <p>Congratulations, your request was successful!</p>

    <p>The response object had the following to say:</p>

    <p><b>$request->getMessage()</b></p>
    <pre>{{ response.message }}</pre>

    <p><b>$request->getGatewayReference()</b></p>
    <pre>{{ response.gatewayReference }}</pre>

    <p><b>$request->getData()</b></p>
    <pre>{{ dump(response.data) }}</pre>

{% endblock %}
